*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #ff00d4;
    min-height: 100vh;
}
.form-container{
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 100px auto;
    min-width: 400px;
    padding: 40px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.toggle-buttons{
    display: flex;
    margin-bottom: 25px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
}
.toggle-btn{
    width: 50%;
    font-size: 1rem;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.toggle-btn.active{
    background-color: #ff00d4;
    color: white;
    cursor: pointer;
}

.input-element{
    font-size: 18px;
    width: 100%;
    padding: 14px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.forget-password{
    color: #ff00d4;
    text-decoration: none;
}
.login-btn{
    margin: 25px 0px 10px 0px;
    font-size: 18px;
    padding: 10px 90px;
    width: 100%;
    background-color: rgb(255, 0, 212);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-content p{
    text-align: center;
}
